<h1>Users#show account情報</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1>アカウント情報</h1>

<p>メールアドレス : <%= @user.email %></p>

<p>パスワード : ＊＊＊＊＊＊＊＊＊＊</p>


<%= link_to 'アカウント情報編集', edit_user_registration_path %>
<%= link_to 'プロフィール', profile_user_path %>




