<div class="account-new">
  <div class="account-new-area">
    <div class="account-new-area-input">
      <table>
        <tr>
          <td>予約した部屋</td>
          <td><%= @room.room_name %></td>
        </tr>
        <tr>
          <td>開始日</td>
          <td><%= @reservation.start_date %></td>
        </tr>
        <tr>
          <td>終了日</td>
          <td><%= @reservation.end_date %></td>
        </tr>
        <tr>
          <td>価格</td>
          <td><%= @sum_price %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
