header {
  width: 100%;
  height: 70px;
  background-color: #000000;
}
.header-inner {
}
.header-inner-left {
  float: left;
  display: flex;
}

.header-inner-right {
  float: right;
}

input[type="search"] {
  width: 180px;
  height: 40px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  padding-left: 30px;
  margin: 15px 0px;
}

input[type="search"]::before {
  content: "ここにいる";
  position: absolute;
  top: 10px;
  left: 10px;
}

.text-white {
  color: white;
  text-decoration: none;
}
.header-inner-right {
  float: right;
}

.button-blue {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  padding: 1px;
  color: #fff;
  background-color: #4a90e2;
  border-color: #4a90e2;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 5px;
}
.button-gray {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  padding: 1px;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 5px;
  margin-right: 16px;
}

footer {
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

.dropdown {
  display: none;
  background-color: #fff;
  border: 3px solid #f6f8f9;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px;
  z-index: 1000;
}

.dropitem {
  display: block;
  line-height: 30px;
  font-size: 16px;
  padding: 3px 5px;
}

input[type="checkbox"] {
  display: none;
}
label[for="menu"] {
  display: block;
}

#menu:checked + .dropdown {
  display: block;
}

.user-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 3px;
  margin-right: 20px;
  border-radius: 50%;
}

.name-white {
  color: #fff;
  font-size: 14px;
  display: inline-block;
}

.menu-navi {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}
